<?php
if (!isset($_GET['id'])) {
?>
		<form method="post" enctype="multipart/form-data">
			<table>
				<caption> Pildi üleslaadimine </caption>
				<tr>
					<td> Autor:  </td>
					<td> <input type="text" name="autor"></td>
				</tr>
				<tr>
					<td>Pealkiri: </td>
					<td><input type="text" name="peakiri"></td>
				</tr>
				<tr>
					<td>Suur pilt: </td>
					<td><input type="file" name="suurpilt"></td>
				</tr>
				<tr>
					<td>Väike pilt:</td>
					<td><input type="file" name="pisipilt"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Salvesta"></td>
				</tr>
			</table>
		</form>
<?php
}
else {
$pilt=pildi_info($_GET['id']);
?>
<form method="post" action="?mode=pildivorm&id=<?php echo $_GET['id'] ?>">
<table>
	<caption>Pildi <?php echo $pilt['pealkiri'] ?> muutmine</caption>
	<tr><td colspan=2 align="center"><img src="<?php echo $pilt['thumb'] ?>" alt=""></td></tr>
	<tr>
		<td> Autor:  </td>
					<td> <input type="text" name="autor" value="<?php echo htmlspecialchars($pilt['autor']) ?>"></td>
				</tr>
				<tr>
					<td>Pealkiri: </td>
					<td><input type="text" name="peakiri" value="<?php echo htmlspecialchars($pilt['pealkiri']) ?>"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Salvesta"></td>
				</tr>

</table>
</form>
<?php
}
?>
